
    *{
        margin: 0;
        padding : 0;
        font-size: 30px;
    }
    body{
        background-color: rgb(78, 73, 73);
    }
    .container{
        width: 100%;
        height: 100px;
        background-color: red;
    }
    .container2{ 
        display: flex;
        align-items: center;
    }
    .container3{
        width: 100% ;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
       
    }
    .container4{
        width: 100%;
        height: 100%;flex-wrap: nowrap;
        justify-content: space-evenly;
        flex-direction: row;
       
    }
    nav{
        width: 100%;
        display: flex;
        background-color:rgb(255, 225, 196);
        align-items: center;
        justify-content: space-between;
    }
    
    nav div img{
        width: 100px;
        padding: 10px;
        border-radius: 60px;
        }
   
    ul{
        list-style: none;
        gap: 1rem;
    }
    li{
        text-decoration: none;
        display:inline-block;
    }
    ul li a{
        text-decoration: none;
        color: black;
        padding: 10px;
        display: block;
        font-weight: 600;
        text-align: center;
        padding: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-transform: capitalize;
       
    }
    .jawa{
        text-align: center;
    }
    .dropdown {
        display: none;
        position: absolute;
    }
    ul li:hover .dropdown {
      display: block;
    }
    .dropdown li {
        display: block;
        width: 100%;
    }
    .dropdown li a:hover{

        background-color: black;
        color: white;
    }
    .dropdown li a{
        padding: 10px;
        color: black;
        background-color: bisque;
      
        
    }
    .dropdown1{
        display: none;
        position: absolute;
    }
    ul li:hover .dropdown1 {
      display: block;
     
    }
    .dropdown1 li a:hover {
       background-color: black;
        color: white;
       
    }
    .dropdown1 li {
        display: block;
       
    }
    .dropdown1 li a{
        padding:10px;
        color: black;
        background-color: bisque;
        text-align: center;
       
    }
    .cipher{
        display:none;
        position: absolute;
        justify-items: center;
        background-color: #333bac;
    }
    ul li:hover .cipher{
        display: inline-block;
        position: absolute;
        justify-items: center;
        transition: 2s;
    }
    .cipher li {
        display: inline-block;
        width: 1800px;
         height: 900px;
        background-color: bisque;
        border: 1px solid black;
        margin-left: 30px;
        
    }
    .cipher li p{
        padding: 10px;
        color: black;
       text-align: justify;
       background-color: rgb(0, 0, 0);
      
    }
    .castorice{
        display:none;
        position: absolute;
        justify-items: center;
        background-color: rgb(218, 25, 208);
    }
    ul li:hover .castorice{
        display: inline-block;
        position: absolute;
        justify-items: center;
    }
    .castorice li {
        display: inline-block;
        width: 1800px;
         height: 900px;
        background-color: rgb(206, 61, 219);
        border: 1px solid black;
       
        margin-left: 30px;
        color: white;
    }
    .castorice li p{
        padding: 10px;
        color: rgb(255, 255, 255);
       text-align: justify;
       background-color: rgb(101, 10, 143);
      
    }
    .hyacine{
        display:none;
        position: absolute;
        justify-items: center;
        background-color: cyan ;
    }
    ul li:hover .hyacine{
        display: inline-block;
        position: absolute;
        justify-items: center;
    }
    .hyacine li {
        display: inline-block;
        width: 1800px;
         height: 900px;
        background-color: pink;
        border: 1px solid black;
        
        margin-left: 30px;
        color: rgb(0, 0, 0);
    }
    .hyacine li p{
        padding: 10px;
        color: rgb(0, 0, 0);
       text-align: justify;
       background-color: rgb(233, 81, 119);
      
    }
    .aglaea{
        display:none;
        position: absolute;
        justify-items: center;
        background-color: rgb(255, 209, 139);
    }
    ul li:hover .aglaea{
        display: inline-block;
        position: absolute;
        justify-items: center;
    }
    .aglaea li {
        display: inline-block;
        width: 1800px;
         height: 900px;
        background-color: gold;
        border: 1px solid black;
        
        margin-left: 30px;
        
    }
    .aglaea li p{
        padding: 10px;
        color: black;
       background-color: rgb(255, 255, 255);
      
    }
    .mydeimos{
        display:none;
        position: absolute;
        justify-items: center;
        background-color: rgb(255, 210, 156);
    }
    ul li:hover .mydeimos{
        display: inline-block;
        position: absolute;
        justify-items: center;
    }
    .mydeimos li {
        display: inline-block;
        width: 1800px;
         height: 900px;
        background-color: rgb(255, 94, 94);
        border: 1px solid black;
        
        margin-left: 30px;
        color: white;
    }
    .mydeimos li p{
        padding: 10px;
        color: black;
       background-color: rgb(255, 255, 255);
      
    }
    .tribios{
        display:none;
        position: absolute;
        justify-items: center;
        background-color: rgb(255, 0, 0);
    }
    ul li:hover .tribios{
        display: inline-block;
        position: absolute;
        justify-items: center;
    }
    .tribios li {
        display: inline-block;
        width: 1800px;
         height: 900px;
        background-color: rgb(255, 255, 255);
        border: 1px solid black;
       
        margin-left: 30px;
        
    }
    .tribios li p{
        padding: 10px;
        color: black;
       background-color: rgb(46, 95, 255);
      
    }
    .anaxa{
        display:none;
        position: absolute;
        justify-items: center;
        background-color: rgb(0, 81, 255);
    }
    ul li:hover .anaxa{
        display: inline-block;
        position: absolute;
        justify-items: center;
    }
    .anaxa li {
        display: inline-block;
        width: 1800px;
         height: 900px;
        background-color: rgb(2, 255, 200);
        border: 1px solid black;
       
        margin-left: 30px;
        
    }
    .anaxa li p{
        padding: 10px;
        color: black;
       background-color: rgb(0, 0, 0);
      
    }
    .footerlist li a:hover{
        border-bottom: 1px solid rgb(255, 255, 255);
        ;
    }
    ul li a:hover{
        border-bottom: 1px solid rgb(0, 0, 0);
        ;
    }
    .dropprofile{
        display: none;
        position: absolute;
    }
    ul li:hover .dropprofile {
      display: block;
    }
    .dropprofile li {
        display: block;
        width: 100%;
    }
    .dropprofile li {
        padding: 10px;
        color: black;
       text-align: center;
       background-color: bisque;
    }
    .dropprofile li a:hover{
        background-color: black;
        color: white;
    }
  
    footer{
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: 100%;
        
    } 
    
    .foooter{
        width: 100%;
        padding:70px 30px 20px;
    }
    .sosialicon{
        display: flex;
        justify-content: center;
    }
    .sosialicon a{
        text-decoration: none;
       background-color: white;
        padding: 10px;
        border-radius:50%;
        margin: 10px;
    }
    .sosialicon a i{
        font-size: 2em;
        color: rgb(0, 0, 0);
        opacity: 0.9;
       
    }
    .sosialicon a:hover{
        background-color: black;
        transition: 0.5s;
    }
    .sosialicon a:hover i{
        color: white;
        transition: 0.5s;
    }
    .footernav{
        margin: 30px 0;
    }
    .footernav ul{
        display: flex;
        justify-content: center;
    }
    .footernav ul li a{
        color: rgb(255, 255, 255);
        margin: 20px;
        text-decoration: none;
        font-size: 1.3em;
        opacity: 0.7;
        transition: 0.5s;
    }
    .footernav ul li a:hover{
        opacity: 1;
    }
    .foooterbottom{
        background-color: #000;
        padding:20px;
        text-align: center;
        align-items: center;
    }
    .footerbottom p{
        color: white;
       text-align: center;
    }
    .designer{
        opacity: 0.7;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight:400;
        margin:0px 5px;
    }
    .box-1,.box-2,.box-3,.box-4,.box-5,.box-6,.box-7{
        width: 800px;
        height: 900px;
        border: 1px solid #000;
        margin: 5px;
        font-size:24px;
        margin: 30px;
        background-color: white;
       

    }
    .box-1 img,.box-2 img,.box-3 img,.box-4 img,.box-5 img,.box-6 img,.box-7 img{
        width: 700px;
        margin: 40px;
        border: 3px solid #000;
       
    }
   
    .kotak1{
        width: 600px;
        height: 600px;
        border:1px solid #000;
        margin: 30px;
        background-color: white;
        color: rgb(78, 73, 73);
        transition-duration: 1s;
    }
    .kotak1 p{
        display: none;
    }
    .kotak1 img{
        width: 600px;
        height: 600px;
    }
    .kotak1:hover p{
        display: block;
    }
    
    .kotak1:hover{
        height: 1250px;
        
    }
    h3{
        font-size: 40px;
        align-self: center;
        border-bottom: 1px solid #000;
       border-top: #000 1px solid;
       background-color: #ffe388;
    }
    h2{
        font-size: 40px;
        align-self: center;
        border-bottom: 1px solid #000;
       border-top: #000 1px solid;
       
    }
    .kotak1 p{
       text-align: justify;
    }